<!DOCTYPE html>
%h1 Index - This is my homepage
<h1> This is my homepage </h1>
<h2> Do you like my H2 </h2>

<ul>
	<li>Browse my site</li>
	<li>Email the owner</li>
	<li>Get to know us</li>
	<li>Do your homework</li>
	<li>Watch your step</li>
</ul>

<ul>
	<li>Do the dirty bird</li>
	<li>Get down on it</li>
</ul>